<p class="user-show">
  your email is <%= current_user.email %>,Start to do something <br>

  <%= link_to "Product management", products_path, class: "button first" %> 
  <%= link_to "User management", users_path, class: :button %> <br>
  <%= link_to "check the Order", home_path, class: :button %>
</p>